body {
    width : 100vw;
    height : 100vh;


    background-image : url('../img/028.jpg');
    background-size : contain;
    background-repeat: no-repeat;
    background-position: center center;
}
